<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddCaseServlet</servlet-name>
        <servlet-class>za.ac.web.controller.AddCaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCaseServlet</servlet-name>
        <servlet-class>za.ac.web.controller.EditCaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCaseServlet</servlet-name>
        <servlet-class>za.ac.web.controller.DeleteCaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaseListServlet</servlet-name>
        <servlet-class>za.ac.web.controller.CaseListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>za.ac.web.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>za.ac.web.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>za.ac.web.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SummaryReportServlet</servlet-name>
        <servlet-class>za.ac.web.controller.SummaryReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DateReportServlet</servlet-name>
        <servlet-class>za.ac.web.controller.DateReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusReportServlet</servlet-name>
        <servlet-class>za.ac.web.controller.StatusReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LawyerReportServlet</servlet-name>
        <servlet-class>za.ac.web.controller.LawyerReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportReportCSVServlet</servlet-name>
        <servlet-class>za.ac.web.controller.ExportReportCSVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportDateCSVServlet</servlet-name>
        <servlet-class>za.ac.web.controller.ExportDateCSVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportLawyerCSVServlet</servlet-name>
        <servlet-class>za.ac.web.controller.ExportLawyerCSVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportStatusCSVServlet</servlet-name>
        <servlet-class>za.ac.web.controller.ExportStatusCSVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportSummaryCSVServlet</servlet-name>
        <servlet-class>za.ac.web.controller.ExportSummaryCSVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportPDFServlet</servlet-name>
        <servlet-class>za.ac.web.controller.ExportPDFServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailNotificationServlet</servlet-name>
        <servlet-class>za.ac.web.controller.EmailNotificationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCaseServlet</servlet-name>
        <url-pattern>/AddCaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCaseServlet</servlet-name>
        <url-pattern>/EditCaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCaseServlet</servlet-name>
        <url-pattern>/DeleteCaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaseListServlet</servlet-name>
        <url-pattern>/CaseListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SummaryReportServlet</servlet-name>
        <url-pattern>/SummaryReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DateReportServlet</servlet-name>
        <url-pattern>/DateReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusReportServlet</servlet-name>
        <url-pattern>/StatusReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LawyerReportServlet</servlet-name>
        <url-pattern>/LawyerReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportReportCSVServlet</servlet-name>
        <url-pattern>/ExportReportCSVServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportDateCSVServlet</servlet-name>
        <url-pattern>/ExportDateCSVServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportLawyerCSVServlet</servlet-name>
        <url-pattern>/ExportLawyerCSVServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportStatusCSVServlet</servlet-name>
        <url-pattern>/ExportStatusCSVServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportSummaryCSVServlet</servlet-name>
        <url-pattern>/ExportSummaryCSVServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportPDFServlet</servlet-name>
        <url-pattern>/ExportPDFServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailNotificationServlet</servlet-name>
        <url-pattern>/EmailNotificationServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
